CREATE KEYSPACE IF NOT EXISTS {{KEYSPACE}}
WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1};

USE {{KEYSPACE}};

CREATE TABLE IF NOT EXISTS transactions (
    id UUID PRIMARY KEY,
    user_id UUID,
    amount DECIMAL,
    is_fraudulent BOOLEAN,
    created_at TIMESTAMP,
    receiver_ip_address TEXT,
    sender_ip_address TEXT,
    browser_agent TEXT,
    device_id UUID,
    device_type TEXT,
    bank_name TEXT,
    bank_iban TEXT,
    country TEXT,
    currency TEXT
);

CREATE TABLE IF NOT EXISTS user_hourly_spend (
    user_id UUID,
    hour timestamp,
    total_amount counter,
    PRIMARY KEY ((user_id), hour)
) WITH CLUSTERING ORDER BY (hour ASC) ;

