POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

CASSANDRA_USER=
CASSANDRA_PASSWORD=
CASSANDRA_KEYSPACE=
CASSANDRA_AUTHENTICATOR=
CASSANDRA_AUTHORIZER=
CASSANDRA_ROLE_MANAGER=

NEO4J_USER=
NEO4J_PASSWORD=
